body {
  font-family: "Open Sans", "Segoe UI", "Frutiger", "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
  /* suppose you want minimun width of 1000px */
  width: auto !important;
  /* Firefox will set width as auto */
  width: 1000px;
  /* width: 100%; */
}

input {
  border-radius: 0.4rem;
}

p,
span,
a,
ul,
li,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.task-container {
  padding: 0 20px;
}

.task-container .div-label-container span.Collapsible__trigger {
  height: 50px;
  background: #5dade2;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.task-container .div-label-container .collapsible {
  margin-bottom: 20px;
}

.div-label-container .Collapsible__contentInner {
  border: solid 1px grey;
}

.collapsible .ReactTable.flex-row {
  flex-direction: row;
}

.div-container {
  padding-top: 2em;
}

.row-container {
  padding-top: 3em;
}

.image-container {
  margin-left: 70px;
  margin-bottom: 10px;
}

.label-style {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  height: 3.5em;
}

.paddingTop10 {
  padding-top: 0px;
}

.paddingTop50 {
  padding-top: 50px;
}

.paddingTopAdjust {
  padding-left: 1em;
  padding-bottom: 1.5em;
}

.div-chart-container {
  vertical-align: middle;
  width: 75%;
  padding-left: 5em;
  margin-left: 19em;
}

.div-form-container {
  vertical-align: middle;
  padding-top: 1em;
  width: 80%;
  padding-left: 5em;
  margin-left: 14em;
  /* width: 75%;
    float: right; */
}

.button-container {
  margin-bottom: 10px;
  background-color: #0392d5;
  border: 1px solid #04a3ed;
}

.nobackground {
  background: none;
}

.noborder {
  border: none;
}

.btn-color {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-size: 16px;
  border-radius: 6px;
}

.div-label-container {
  vertical-align: middle;
  padding-top: 4em;
  width: 75%;
  float: right;
  font-size: 1.5em;
}

.div-label-container1 {
  vertical-align: middle;
  padding-top: 4em;
  width: 101%;
  float: right;
  font-size: 1.2em;
  height: 46;
}

.linkTextColor {
  color: #fff;
}

.modal-header {
  min-height: 16.43px;
  padding: 0px;
  border-bottom: 2px solid #1779ba;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  text-align: right;
  padding: 0;
}

.modal-title {
  color: whitesmoke;
  font-family: verdana;
  font-size: 1.2rem;
  margin: auto;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #5dade2;
  position: fixed;
  top: 0px;
  width: 20%;
  /* width: 300px; */
  height: 90.2%;
  color: #ffffff;
  margin-top: 6em;
  margin-left: -1.7em;
}

.nav-side-menu .brand {
  background-color: #5dade2;
  line-height: 70px;
  display: block;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/*.nav-side-menu ul .active,.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}*/

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #fff;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 25px;
}

.nav-side-menu li:hover {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

.pageHeaderText {
  border-bottom: 2px hidden lightgrey;
  width: 80%;
  font-family: Verdana Fontawesome;
  color: grey;
  padding-left: 5em;
  font-size: 1.4rem;
  margin-left: 6.5em;
  padding-top: 0.5em;
}

.fieldLabel {
  font-family: Verdana, Arial, sans-serif;
}

.inputField {
  width: 12em;
  font-family: Verdana, Arial, sans-serif;
  height: 2.1em;
  border: 1px solid #5dade2;
  border-radius: 0.4em;
  font-size: 0.85rem;
}

.advancedFilterIcon {
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #5dade2;
  color: #5dade2;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  border-radius: 5000px;
}

.noChartResults {
  text-align: center;
  font-family: verdana;
  color: red;
}

.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.modal-title-header {
  padding-top: 7px;
  padding-left: 10px;
}

.formLabel {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8rem;
}

[type="text"] {
  border-radius: 0.4rem;
  height: 2.2em;
}

.formButton {
  height: 2.5em;
  padding: 0;
  width: 8em;
  font-size: 0.85rem;
}

.public_fixedDataTableCell_cellContent {
  padding: 4px;
  font-size: 0.8rem;
  text-align: left;
  white-space: pre;
}

.pagination {
  padding-left: 12em;
  margin-top: 2em;
  font-family: verdana;
}

.pagination a {
  border: 1px solid #ddd;
  /* Gray */
  color: black !important;
}

.pagination > li.active {
  background: #1779ba;
}

@media screen and (max-width: 39.9375em) {
  .pagination:after {
    display: inline-block;
    content: attr(data-page) " of " attr(data-total);
    position: relative;
    text-align: center;
    width: 80px;
    right: 80px;
  }
  .pagination-next {
    position: relative;
    left: 80px;
  }
}

.tabs {
  width: 98%;
  display: inline-block;
  vertical-align: top;
  border: none;
}

.tabs-1 .tab-links {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(93, 173, 226);
  border-bottom: 1px solid rgb(93, 173, 226);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  position: relative;
  top: 5px;
  background: #f8f8f8;
  color: black;
  font-size: 0.8rem;
  font-family: verdana;
}

.tabs-1 .tab-link {
  padding: 0 15px;
  cursor: pointer;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 41px;
  top: -6px;
  left: -1px;
}

.tabs-1 .tab-link-active {
  font-weight: bold;
  border: 1px solid rgb(93, 173, 226);
  border-bottom: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

.tabs-1 .content {
  padding: 15px;
  border: 1px solid #868686;
  border-top: 1px solid transparent;
}

.tab-border {
  border: 1px solid rgb(93, 173, 226);
  height: auto;
  background: #f9f9f9;
  border-top: 3px solid rgb(93, 173, 226);
  padding-left: 1em;
}

form div div span {
  color: black;
}

.mask {
  opacity: 0.4;
  position: fixed;
  top: 0px;
  left: 23.5%;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #000;
}

.nav-side-menu li .active {
  background-color: #4f5b69 !important;
  color: #fefefe;
}

.fontSizePointEight {
  font-size: 0.8rem;
  color: black;
  font-family: verdana, san-serif;
}

.hyperLink-style {
  padding-left: 2em;
  text-align: center;
  font-size: 0.95rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #1779ba !important;
}

#spinner {
  position: relative;
  top: 50%;
}

.Data-Availability {
  display: block;
  text-align: center;
  font-weight: 600;
  color: crimson;
  margin-bottom: 25px;
}

.page-Header {
  vertical-align: middle;
  padding-top: 4em;
  float: right;
  font-size: 1.5em;
}

.multiSelectOptions {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 0.85rem;
  white-space: nowrap;
}

/* Praveen's App.css Code*/

.landing-title {
  color: #60aae5;
  text-align: center;
  margin: 3em auto 0;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.02em;
  word-spacing: 4px;
  font-family: -webkit-body;
}

.landing-sub-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.tile {
  width: 100%;
  height: 200px;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px auto;
  border-radius: 1.5%;
  -webkit-box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
}

.tile:hover {
  /*background: #ccc !important;*/
  box-shadow: 0px 0px 15px #555;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.3);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.3);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.3);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.tile-icon {
  font-size: 4em;
  margin: auto;
  text-align: center;
  color: white;
}

.tile .tile-title {
  text-align: center;
  margin: 0.5em auto;
  color: white;
  font-size: 1.7em;
}

.tile .title-text {
  text-align: center;
  color: white;
}

/* SideBar CSS */

.header-logo {
  width: 384px;
  height: 5em;
  background-image: url("../../Images/EMBDashboard_logo.png");
  /* background-image: url('/nebert/Images/EMBDashboard_logo.png');*/
}

.record-summary-details {
  /*background-image: url('/nebert/Images/record-summary-image.png'); */
  background-image: url("../../Images/record-summary-image.png");
  height: 100%;
}

.record-summary-breadcrumb {
  margin-top: 7em;
}

.record-summary-details-sidebar {
  margin-top: 1.05em;
  height: auto;
  background-color: white;
  font-weight: 300;
  box-sizing: border-box;
}

.record-summary-details-sidebar .sidebar-content {
  border: 1px solid #d9d9d9;
  border-bottom: none;
}

.record-summary-details-sidebar .sidebar-header {
  text-align: center;
  padding: 10px;
  color: #5dade2;
}

.record-summary-container {
  vertical-align: middle;
  padding-top: 0.7em;
  float: right;
  font-size: 1.5em;
}

.record-summary-details-sidebar hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hrstyle2 {
  border-top: 1px dashed #fff !important;
}

.record-summary-details-sidebar .rc-collapse {
  border: 1px solid #d9d9d9;
}

.record-summary-details-sidebar .rc-collapse .rc-collapse-item {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5dade2;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.record-summary-details-sidebar .rc-collapse-content {
  overflow: hidden;
  color: #fff;
  font-weight: 300;
  padding: 0 16px;
  background-color: #1789d6;
}

.record-summary-details-sidebar .rc-collapse-header {
  background-color: #3498db;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.record-summary-details-sidebar .rc-collapse-content-box a {
  color: #fff;
  width: 100%;
  padding: 0 1rem;
  display: block;
}

.record-summary-details-sidebar .rc-collapse-content-box a:hover {
  background-color: #3498db;
}

.display-true {
  display: block;
}

.display-false {
  display: none;
}

/* Breadcrumb css */

.gwos-breadcrumbs {
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: none;
}

.gwos-breadcrumbs li {
  font-size: 1em;
  text-transform: Capitalize;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
  position: relative;
  line-height: 1.25rem;
  display: inline-block;
}

.gwos-breadcrumbs li:after,
.gwos-breadcrumbs li:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border-radius: 10em;
  background-color: #b3b3b3;
  position: absolute;
  overflow: hidden;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.gwos-breadcrumbs li:after {
  left: 1.25rem;
}

.gwos-breadcrumbs li a:before {
  content: " ";
  width: 1.25rem;
  height: 0;
  border-bottom: solid 1px #b3b3b3;
  position: absolute;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0.25rem;
}

.gwos-breadcrumbs li a:hover {
  text-decoration: underline;
}

.gwos-breadcrumbs li.error,
.gwos-breadcrumbs li.info,
.gwos-breadcrumbs li.success,
.gwos-breadcrumbs li.warning {
  padding-right: 1.5rem;
}

.gwos-breadcrumbs li.error a:after,
.gwos-breadcrumbs li.info a:after,
.gwos-breadcrumbs li.success a:after,
.gwos-breadcrumbs li.warning a:after {
  font-family: FontAwesome;
  position: absolute;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: 1.5rem;
  text-align: center;
}

.gwos-breadcrumbs li.success a {
  color: #2ecc71;
  font-weight: 700;
}

.gwos-breadcrumbs li.success a:after {
  content: "\f00c";
}

.gwos-breadcrumbs li.info a {
  color: #3498db;
  font-weight: 700;
}

.gwos-breadcrumbs li.info a:after {
  content: "\f129";
}

.gwos-breadcrumbs li.warning a {
  color: #e67e22;
  font-weight: 700;
}

.gwos-breadcrumbs li.warning a:after {
  content: "\f12a";
}

.gwos-breadcrumbs li.error a {
  color: #c0392b;
  font-weight: 700;
}

.gwos-breadcrumbs li.error a:after {
  content: "\f05e";
}

.vh200 {
  margin: 100px auto;
  width: 100%;
}

.vh150 {
  margin: 75px auto;
  width: 100%;
}

.grand-total-highlight {
  background-color: rgb(209, 212, 214) !important;
}

.record-summary-help-icon {
  width: 15px;
}

.record-flag-help-container {
  background-color: white;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  width: 857px;
  padding: 20px;
  margin: -263px 25px;
  -webkit-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
}

.field-summary-field-flag-help-container {
  background-color: white;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  width: 709px;
  padding: 20px;
  margin: 6px -474px;
  -webkit-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
}

.field-summary-record-flag-help-container {
  background-color: white;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  width: 785px;
  padding: 20px;
  margin: -201px -790px;
  -webkit-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
}

.sidebar-highlight-link-true {
  background-color: #3498db;
}

.top-header {
  width: 100%;
  position: fixed;
  z-index: 11;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-bottom: solid 1px #e9e9e9;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
}

.landing-rcno-tile .tile-icon,
.landing-rcno-tile .tile-title,
.landing-rcno-tile .title-text {
  color: #555555;
}

.top-header-controls {
  padding: 0 1rem;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.top-header-menu {
  line-height: 3rem;
  position: relative;
  float: right;
}

.top-header-menu li {
  display: inline-block;
}

.top-header-menu li a {
  padding: 0 1rem;
  line-height: 2.25rem;
}

.top-header-round-button-long {
  border-radius: 10rem;
  background-color: #e9e9e9;
  color: #555;
}

.top-header-round-button {
  border-radius: 50%;
  background-color: #e9e9e9;
  padding: 0.75rem;
  color: #555;
  top: 0.7em;
  position: relative;
  margin: 2rem;
}

.top-header-round-button-long:hover {
  background-color: #b3b3b3;
}

.top-header-round-button:hover {
  background-color: #b3b3b3;
}

.header-user-data {
  position: relative;
  padding: 0.7rem 3rem;
  top: 0.5rem;
}

.header-user-data:before {
  content: "";
  display: block;
  position: absolute;
  height: 2.3rem;
  width: 2.3rem;
  background-color: #b3b3b3;
  border-radius: 10rem;
  top: 0;
  left: 0;
}

.top-header-avatar {
  display: block;
  position: absolute;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 10rem;
  top: 0;
  left: 0;
  overflow: hidden;
}

.top-header-avatar img {
  display: block;
  height: 100%;
  width: auto;
}

.field-summary-result-rf-text {
  font-size: 0.8em;
  font-weight: 500;
  color: #5dade2;
}

.rsdp-table-header {
  white-space: normal !important;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-Style {
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  left: 20%;
  right: 55%;
  bottom: auto;
  margin-right: -50%;
  transform: translate (-50%, -50%);
  padding: 0px;
  min-width: 800px;
  width: 850px;
  min-height: 400px;
  border-bottom-color: #1779ba;
  border-radius: 0.6rem;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.panelClassName {
  overflow-y: auto;
  height: 27em;
}

.list-view-summary-page-data .tab-link {
  /* border-bottom: 2px solid #555 !important; */
  border-bottom: 1px #555 !important;
  font-weight: 500;
  background: white !important;
  border-radius: 20px !important;
  line-height: 27px !important;
  box-shadow: 0px 0px 7px #555;
}

.list-view-summary-page-data .tab-link-active {
  background: #5dade2 !important;
  color: white;
  border-radius: 20px;
  line-height: 27px !important;
  box-shadow: 0px 0px 7px #555;
  font-weight: 900;
}

.reactTablefontSize {
  font-size: 15px;
  color: black;
  font-family: verdana, san-serif;
}

.vh40 {
  margin: 35px auto;
  width: 100%;
}

.record-summary-details-result-table th {
  font-size: 15px !important;
  color: black;
  font-weight: 900;
}

.record-summary-details-result-table tr {
  font-size: 13px !important;
  font-family: verdana, san-serif;
  color: black;
}

.hyperlink-flag {
  cursor: pointer;
  color: #5dade2;
}

.hyperlink-flag:hover {
  text-decoration: underline;
}

.capsule-flag {
  cursor: pointer;
}

.capsule-flag:hover {
  text-decoration: underline;
}

.public_fixedDataTableCell_cellContent a {
  color: #1779ba !important;
}

.pagination .disabled {
  padding: 0;
}

.search-view-error-category-help-container {
  background-color: white;
  color: grey;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  width: 785px;
  padding: 20px;
  margin: -201px -790px;
  -webkit-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.68);
}

.errorbuttonDisabled {
  opacity: 0.5;
}

.submit_inventry {
  height: 2em;
}

.submitERandE {
  background-color: green;
  padding-top: 0em;
  /* height: 2.0em; */
  margin: 0 !important;
  cursor: pointer;
}

.top-header-round-button-submit-inventory {
  border-radius: 50%;
  background-color: #3498db;
  padding: 0.7rem;
  color: #fefefe;
  /* top: 0.1em; */
  position: relative;
  margin: 2rem;
}

.SubmitCheckbox {
  display: inline-block;
  text-align: center;
  margin-left: -12px;
}

.SubmitHover {
  float: left;
  display: inline-block;
  color: #3498db;
}

.submithoverText {
  right: 190px;
}

.list-view-details-page {
  box-sizing: border-box;
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.68);
}

.list-view-details-page table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  table-layout: fixed;
}

.list-view-details-page td,
.list-view-details-page th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  transition: none;
  -webkit-transition: none;
  font-size: 1rem;
}

.list-view-details-page tr {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.list-view-details-page th:first-child {
  background: #5fba4f;
  max-width: 200px;
  color: white;
}

.list-view-details-page td:first-child {
  background: #42b12a;
  color: white;
}

.list-view-details-page td:first-child i {
  float: right;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.list-view-details-page td:first-child.expand i {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
  /* Standard syntax */
}

.list-view-details-page td:first-child.sub-row {
  padding-left: 25px;
}

.list-view-details-page table tr.row-hide {
  border: none;
  font-size: 0;
  line-height: 0;
}

.list-view-details-page table tr.row-hide td {
  padding: 0;
  border: none;
  font-size: 0;
}

.list-view-details-page .header-highlight {
  font-weight: bold;
}

.status-text {
  text-align: center;
  color: green;
  margin: 20px;
  font-size: 18px;
  font-weight: 500;
}

.SubmitHoverRetrigger {
  float: left;
  display: inline-block;
  color: #3498db;
  margin: -13px 0px -32px 21px;
}

.top-header-round-button-submit-inventory:hover {
  border-radius: 50%;
  background-color: #126195;
  padding: 0.75rem;
  color: #fefefe;
  /* top: 0.1em; */
  position: relative;
  margin: 2rem;
  cursor: pointer;
}

.letterTriggerId-multiselect div {
  max-height: 193px !important;
}

.record-summary-details-result-table .react-bootstrap-table-page-btns-ul {
  margin-left: 0px !important;
}

.click-disabled {
  cursor: not-allowed;
}

.click-disabled div {
  cursor: not-allowed !important;
}

.click-disabled label {
  cursor: not-allowed;
}

.click-disabled div > div {
  pointer-events: none !important;
}

.enter-edit-err-form-container .Select-clear-zone {
  display: none;
}

.enter-edit-err-form-container .Select.is-disabled {
  cursor: not-allowed;
}

.enter-edit-err-form-container .Select.is-disabled > * {
  cursor: not-allowed;
}

.react-d3-basics__tooltip_utils {
  font-size: 12px;
  font-style: normal;
}

.rc-collapse-month-picker a,
.rc-collapse-month-picker div,
.rc-collapse-month-picker span {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.rc-collapse-month-picker.rc-calendar-month-calendar {
  max-height: 255px;
  box-shadow: none;
}

.rc-collapse-month-picker .rc-calendar-month-panel-body,
.rc-collapse-month-picker .rc-calendar-year-panel-body,
.rc-collapse-month-picker .rc-calendar-decade-panel-body {
  padding: 0;
  bottom: auto;
  height: auto;
}

.rc-collapse-month-picker
  .rc-calendar-decade-panel-cell
  a.rc-calendar-decade-panel-decade {
  white-space: normal;
  overflow: hidden;
}

.custom-select-all-container div div {
  display: inline-block !important;
  margin: 5px;
}

.table-header-custom-checkbox div {
  display: inline-block;
}

.sys-to-sys-recon-view-link {
  color: blue !important;
}

.sys-to-sys-recon-view-link:hover {
  text-decoration: underline;
}

.mpc-view-data-page {
  background: white;
  padding: 50px;
  border-radius: 4px;
  margin-top: 120px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
  -webkit-box-shadow: -1px 6px 29px 1px rgba(115, 105, 115, 0.74);
  -moz-box-shadow: -1px 6px 29px 1px rgba(115, 105, 115, 0.74);
  box-shadow: -1px 6px 29px 1px rgba(115, 105, 115, 0.74);
}

.mpc-view-data-page div {
  -webkit-animation: popOut 2s;
  /* Safari, Chrome and Opera > 12.1 */
  animation: popOut 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popOut {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

.mpcv-table-fullscreen-container {
  position: absolute;
  top: 100px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: white;
  padding: 50 0;
  min-height: 100vh;
  height: 100%;
  /* position: fixed; */
  /* z-index: 1000000000; */
}

.app-in-zoom {
  opacity: 0.5;
  overflow: hidden;
  max-height: 100vh;
}

.mcdvd-no-data {
  padding: 40px;
  text-align: center;
  margin: auto;
}

.mpcv-item-container input {
  margin-bottom: 0;
}

.tab-disable-me {
  opacity: 0.5;
  /* user-select: none; */
  pointer-events: none;
}

.rdr-DateRange {
  display: flex;
}

.file-tracker-dp-input {
  font-family: inherit;
  width: 250px !important;
  font-size: 16px;
  opacity: 0.77;
  padding: 10px;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 200;
  border: rgba(0, 0, 0, 0.4) solid 1px;
  text-align: center;
  cursor: pointer !important;
}

[data-ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

[data-ripple] .ripple {
  position: absolute;
  background: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  -webkit-animation: ink 1.6s;
  animation: ink 1.6s;
}

@-webkit-keyframes ink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(40);
    transform: scale(40);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(40);
    transform: scale(40);
    opacity: 0;
  }
}

.content-button {
  position: relative;
  width: 100%;
  margin: 20px;
}

.content-button a {
  cursor: pointer;
  transition: all 0.2s;
  background: #55acee;
  border-radius: 2px;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  color: #fff;
  display: table;
  margin: auto;
  font-family: "Helvetica";
  text-decoration: none;
  position: relative;
  font-size: 14px;
}

.content-button a:hover {
  transition: ease 0.1s;
  background: #239af5;
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.3);
}

.sv-tab-conatiner {
  background-color: #004c73;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  width: 200px;
  margin: auto;
  border-radius: 4px;
}

.sv-tab-conatiner a {
  display: inline-flex;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  user-select: none;
}

.sv-tab-conatiner a:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.sv-tab-conatiner a.selected {
  background: white;
  color: #004c73;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.sv-tab-content {
  padding: 20px 30px;
}

.sv-advance-container {
  padding: 10px 30px;
}

.sv-advance-container-label {
  display: flex;
}

.sv-advance-container-label .sv-expand-icon {
  transition: all 1s ease;
  line-height: 20px;
}

.sv-advance-container-label .sv-expand-icon i {
  line-height: 20px;
}

.sv-advance-container-label .sv-expand-icon.pull-down {
  transform: rotate(180deg);
}

.sv-advance-container-label .sv-expand-icon.pull-up {
  transform: rotate(0deg);
}

.sv-advance-content {
  overflow: hidden;
  margin: 4px auto 5px;
  max-height: 0;
  width: 100%;
  padding: 0 1px;
  text-align: justify;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.sv-advance-content.pull-up {
  max-height: 0;
}

.sv-advance-content.pull-down {
  max-height: 400px;
}

.DateInput_input {
  border: none !important;
  outline: none !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.DateInput.DateInput_1 svg {
  top: 39px !important;
}

.DateRangePicker_picker.DateRangePicker_picker_1 {
  top: 50px !important;
}

.allow-overflow .rc-collapse-content.rc-collapse-content-active {
  overflow: -webkit-paged-y;
}

.DateRangePicker input,
.DateInput {
  background: transparent !important;
}

.DateRangePicker {
  margin-bottom: 0;
  border-radius: 0.4rem;
  height: 2.2em;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
  font-size: 1rem;
  font-weight: 400;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
}

.DateRangePickerInput,
.DateRangePickerInput div,
.DateRangePickerInput input {
  max-height: 34px !important;
  background: transparent !important;
  border: none !important;
}

#ft-error {
  font-size: 11px !important;
}

.DateRangePicker input,
.DateInput {
  background: transparent !important;
}

.DateRangePicker {
  margin-bottom: 0;
  border-radius: 0.2rem;
  height: 2.3em;
  display: block;
  box-sizing: border-box;
  width: 85%;
  margin: 0 0 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
  font-size: 1rem;
  font-weight: 400;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
}

.DateRangePickerInput,
.DateRangePickerInput div,
.DateRangePickerInput input {
  max-height: 34px !important;
  background: transparent !important;
  border: none !important;
  font-weight: bold !important;
  color: #333 !important;
  font-size: 13px !important;
  font-family: Verdana, Arial !important;
}

#ft-error {
  font-size: 11px !important;
  font-family: Verdana, Arial;
  margin-top: -17px;
}

.FileTrackerView .Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: #c5c5c5 !important;
}

/* .multi-select label div div{
    background-color: rgba(255, 255, 255, 0.01) !important;
} */

.FileTrackerView .DateRangePicker .DateRangePickerInput_calendarIcon {
  margin: 0 -10px 0 0px;
}

.FileTrackerView .DateRangePicker .DateInput {
  width: 118px;
}

.mb0 {
  margin-bottom: 0;
}

.ReactModalPortal > div.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.9) !important;
}

.ReactModalPortal > div > .ReactModal__Content {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.alert-modal-container {
  height: 100%;
  /* width: 100%; */
  background: #efefef;
  text-align: center;
  padding: 40px 20px;
  width: 700px;
}

.alert-modal-container .list-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 1px 2px #999;
  /* height: 30px; */
  line-height: 30px;
  margin: 10px auto;
  padding: 10px 10px;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
  width: 500px;
}

.alert-modal-container .list-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.alert-modal-close-button {
  /* position: absolute; */
  right: 10px;
  top: 10px;
  padding: 3px;
  cursor: pointer;
  color: white;
  background: rgb(23, 121, 186);
}

.alert-modal-close-button:hover {
  color: red;
}

.time_picker_modal_container {
  margin-top: -200px;
}

.time_picker_preview {
  height: 34px !important;
  margin-top: 0;
  border-radius: 4px !important;
  box-shadow: none !important;
  border: solid 1px #6666665e;
}

.time_picker_preview .preview_container {
  height: 35px;
  line-height: 35px;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper div {
  width: 100% !important;
}

.record-summary-container .multi-select label input[type="text"] {
  display: none !important;
}

.scrolling-table-container {
  height: 500px;
}

.scrolling-table-container table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.scrolling-table-container table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
.scrolling-table-container table tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
  border-color: transparent;
}

.scrolling-table-container table tbody::-webkit-scrollbar-track {
  background: green;
}

.scrolling-table-container table tbody tr {
  width: 100%;
}
.scrolling-table-container table thead,
.scrolling-table-container table tbody tr {
  display: table;
  table-layout: fixed;
}

.status-change-container {
  padding: 50px 150px 250px;
}
.status-change-container .Select {
  width: 200px;
}

.modal-buttons-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.gc-items-container {
  min-height: 500px;
}

.gc-items-container .gc-button-container {
  border: 1px solid black;
  padding: 20px;
}

.gc-items-container .gc-button {
  background: #3498db;
  width: 100%;
  margin: 14px 0;
  padding: 10px 30px;
  border-radius: 10px;
}

.gc-items-container .gc-chart-container {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.react-autosuggest__suggestions-list > li {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px 0 0 -20px;
}
